* {
    box-sizing: border-box;
}
body, section, header, div, p, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e4e7eb;
    font-weight: 300;
}

.section{
    text-align: center;
}

.pricing {
    width: 900px;
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    background-color: #f0f0f0;

}


.pricing header h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 600px;
    padding: 20px 20px;
}


.plan {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 500px;


}


.column {
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;

}

.column-features {
    flex: 1;
    background-color: #1d5a46;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;

}
.column-features h3 {
    font-size: 1.5em;
    padding: 20px;
    text-align: center;
    color: white;
}
.column h3 {
    font-size: 1.5em;
    padding: 20px;
    text-align: center;
}


.price-free {
    font-size: 2.2rem;
    font-weight: 1000;
    background-color: rgb(131, 192, 157);
    width: 100%;
    text-align: center;
    padding: 20px 0;

}

.price-standard {
    font-size: 2.5em;
    font-weight: 1000;
    background-color: rgb(110, 18, 159);
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px 0;

}

.price-professional {
    font-size: 2.5em;
    font-weight: 1000;
    background-color: rgb(238, 113, 11);
    width: 100%;
    text-align: center;
    padding: 20px 0;

}
.one{
    padding: 15px 15px;
    width: 100%;
    text-align: center;
}
.one span{
    font-weight: 900;
    text-align: center;
}
.two{
    padding: 15px 15px;
    background-color: rgb(202, 202, 202);
    width: 100%;
    text-align: center;
}
.two span{
    font-weight: 900;
    text-align: center;
}
.four{
    padding: 15px 15px;
    color: white;
    background-color: rgb(102, 133, 118);
    width: 100%;
    text-align: center;
}
.four span{
    font-weight: 900;
    text-align: center;
}
.three{
    padding: 15px 15px;
    width: 100%;
    text-align: center;
    color: white;
}
.three span{
    font-weight: 900;
    text-align: center;

}

.price-free span {
    font-size: 0.6em;
    font-weight: normal;
}
ul{
    list-style: none;
    width: 100%;
}
.button{
    margin-top: 35px;
    padding: 15px;
    text-color: white;
    background-color: rgb(44, 113, 145);
    width: 250px;
    text-align: center;
    border-radius:5px;


}
.button one{
    color: white;
    text-decoration: none;
    font-weight: bold;

}

.bottom{
    background-color: #1d5a46;
    margin: 30px;
    width: 900px;
    height: 270px;
    color: white;
    padding: 20px;
}
.bottomsection {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 1.2em;
}
.host{
    font-size: 2em;
    padding: 5px;
}
.hostplan{
    padding-bottom: 10px;
    padding-left: 5px;
}
.link{
    color: white;
    font-style: italic;
}
.bottomsection img {
    width: 27px;
    height: 27px;
    margin-right: 10px;
    vertical-align: middle;
}